@model WebProject.Models.SupplierViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
<div>
    <h2>Supplier</h2>
    <form method="post">
        <table>
            <tr>
                <td>@Html.LabelFor(s => s.Code)</td>
                <td>@Html.TextBoxFor(s => s.Code, Model.Code)</td>
                <td>@Html.ValidationMessageFor(s => s.Code)<label id="codeError"></label></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.Name)</td>
                <td>@Html.TextBoxFor(s => s.Name, Model.Name)</td>
                <td>@Html.ValidationMessageFor(s => s.Name)<label id="nameError"></label></td>

            </tr>

            <tr>
                <td>@Html.LabelFor(s => s.Address)</td>
                <td>@Html.TextBoxFor(s => s.Address, Model.Address)</td>
                <td>@Html.ValidationMessageFor(s => s.Address)</td>
            </tr>
            
            <tr>
                <td>@Html.LabelFor(s => s.Email)</td>
                <td>@Html.TextBoxFor(s => s.Email, Model.Email)</td>
                <td>@Html.ValidationMessageFor(s => s.Email)</td>
            </tr>
            
            
            <tr>
                <td>@Html.LabelFor(s => s.Contact)</td>
                <td>@Html.TextBoxFor(s => s.Contact, Model.Contact)</td>
                <td>@Html.ValidationMessageFor(s => s.Contact)<label id="contactError"></label></td>
            </tr>
            
            
            <tr>
                <td>@Html.LabelFor(s => s.ContactPerson)</td>
                <td>@Html.TextBoxFor(s => s.ContactPerson, Model.ContactPerson)</td>
                <td>@Html.ValidationMessageFor(s => s.ContactPerson)</td>
            </tr>
            
            
            
            
            
            



            <tr>
                <td></td>
                <td><input type="submit" value="Save" /></td>
                <td>
                    @if (ViewBag.Message != null)
                    {
                        <h2>@ViewBag.Message</h2>
                    }
                </td>
            </tr>
        </table>
    </form>
    @{
        Html.RenderPartial("~/Views/Shared/Supplier/_SupplierDetails.cshtml", Model);
    }
</div>


@section MyScript
{ <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    
    <script>

        $(document).ready(function () {

    function Contains(text_one, text_two) {
        if (text_one.indexOf(text_two) != -1)
            return true;
    }

    $("#Search").keyup(function () {
        var searhText = $("#Search").val().toLowerCase();
        $(".Search").each(function () {

            if (!Contains($(this).text().toLowerCase(), searhText)) {
                $(this).hide();
            }
            else {
                $(this).show();
            }
        });

    });

});



        $("#Name").focusout(function () {

            var name = $("#Name").val();

            var jsonRequesData = { name: name };

            $.ajax({
                url: "/Supplier/IsNameExist",
                type: "POST",
                data: jsonRequesData,
                success: function (data) {
                    //alert("Ajax Requiest Success");
                    $("#nameError").text("");
                    if (data === true) {
                        $("#nameError").text("Name Already Exists");
                        $("#Name").focus();
                    }

                },
                error: function () {
                    alert("Ajax Requiest Error to test unique Name");
                }
            });
        });

        $("#Code").focusout(function () {
                
            var code = $("#Code").val();

            var jsonRequesData = { code: code };

            $.ajax({
                url: "/Supplier/IsCodeExist",
                type: "POST",
                data: jsonRequesData,
                success: function (data) {
                    //alert("Ajax Requiest Success");
                    $("#codeError").text("");
                    if (data === true) {
                        $("#codeError").text("Code Already Exists");
                        $("#Code").focus();
                    }

                },
                error: function () {
                    alert("Ajax Requiest Error to test unique code");
                }
            });
        });

        $("#Contact").focusout(function () {
                
            var contact = $("#Contact").val();

            var jsonRequesData = { contact: contact };

            $.ajax({
                url: "/Supplier/IsContactExist",
                type: "POST",
                data: jsonRequesData,
                success: function (data) {
                    //alert("Ajax Requiest Success");
                    $("#contactError").text("");
                    if (data === true) {
                        $("#contactError").text("Contact Already Exists");
                        $("#Contact").focus();
                    }

                },
                error: function () {
                    alert("Ajax Requiest Error to test unique Contact");
                }
            });
        });


    </script>
    
    
    
    
    
    

}

@* </body>
    </html>*@
